
@{
    ViewBag.Title = "EndUser";
}

<h2>EndUser</h2>

@using (Html.BeginForm("Ownershipform", "Login"))
{


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Be Owner:)" />
        </div>
    </div>
}