<!DOCTYPE html>
<html>
<head>

</head>
<body>
    <!--<h2 *ngFor="let owner of owners">
        {{owner.Id}}
    </h2><br /><br />-->



    <div>
        <button  class="btn btn-primary btn-lg"  [routerLink]="['Login/EndUser/beowner']">BeOwner:)</button>
        <button type="button" class="btn btn-primary btn-lg" data-dismiss="modal" [routerLink]="['Login/EndUser']">Products </button>
        <!--<button type="button" class="btn btn-primary btn-lg" data-dismiss="modal" (click)='followedProducts()'>FollowedProducts </button>-->
    
    </div><br /><br />
    <router-outlet></router-outlet>
</body>
</html>