<!DOCTYPE html>
<html>
<head>

</head>
<body>
    <!--<h2 *ngFor="let owner of owners">
        {{owner.Id}}
    </h2><br /><br />-->



    <div>
        <button type="button" class="btn btn-primary btn-lg" data-dismiss="modal" (click)='showForm()'><!--{{ beOwner?'Fill Form':'BeOwner:)'}}-->BeOwner:) </button>
        <button type="button" class="btn btn-primary btn-lg" data-dismiss="modal" (click)='showProduct()'><!--{{ beOwner?'Fill Form':'BeOwner:)'}}-->Products </button>
    </div><br /><br />
    <div class="form-group">
        <div class="form-horizontal">
            <form *ngIf="beOwner" #addOwnerForm="ngForm" class="form-horizontal">
                <b>CompanyName:</b><input class="form-control" type="text" #CompanyName="ngForm" ngControl="CompanyName" [(ngModel)]="owner.CompanyName" required /><br />
                <b>WebsiteUrl:</b><input class="form-control" type="text" #WebsiteUrl="ngForm" ngControl="WebsiteUrl" [(ngModel)]="owner.WebsiteUrl" required /><br />
                <b>FoundedYear:</b><input class="form-control" type="number" #FoundedYear="ngForm" ngControl="FoundedYear" [(ngModel)]="owner.FoundedYear" required /><br />
                <b>Description:</b><input class="form-control" type="text" #Description="ngForm" ngControl="Description" [(ngModel)]="owner.Description" required /><br /><br />

                <button class='btn-primary' (click)="onSubmit(owner)">submit</button>
            </form>
        </div>
    </div>



    <div class='table-responsive'>
        <table class='table'>
            <tr>
                <th>ProductId</th>
                <th>ProductName</th>
                <th>Description</th>
                <th>Type</th>
                <th>HomepageURL</th>
                <th>PlaystoreURL</th>
                <th>AppstoreURL</th>
                <!--<th>CreatedDate</th>
                <th>LastModifiedDate</th>-->
            </tr>

            <tr *ngFor="let product of products">
                <td>
                    {{product.Id}}
                </td>
                <td>
                    {{product.ProductName}}
                </td>
                <td>
                    {{product.Description}}
                </td>
                <td>
                    {{platforms[product.Type ]}}
                </td>
                <td>
                    {{product.HomepageURL}}
                </td>
                <td>
                    {{product.PlaystoreURL}}
                </td>
                <td>
                    {{product.AppstoreURL}}
                </td>
                <!--<td>
                    {{product.CreatedDate}}
                </td>
                <td>
                    {{product.LastModifiedDate}}
                </td>-->
                <td>
                    <button class='btn-primary' (click)="viewDetail(product)">View</button>
                    <button class='btn-primary' [hidden]="hidebutton[product.Id]" (click)="followProducts(product)">follow</button>
                    <button class='btn-primary' [hidden]="!hidebutton[product.Id]" (click)="unfollowProducts(product)">unfollow</button>
                    
                     <!--<button class='btn-primary' (click)="onUnfollow(product)">UnFollow</button>-->

                </td>
            </tr>
        </table>
    </div>

</body>
</html>