<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
    <!--<style>
        table, th, td {
            border: 1px solid grey;
            border-collapse: collapse;
            padding: 5px;
        }

            table tr:nth-child(odd) {
                background-color: #f1f1f1;
            }

            table tr:nth-child(even) {
                background-color: #ffffff;
            }
    </style>--> 
</head>
<body>
    <div class='table-responsive'>
    <table  class='table'>
        <tr>

        <th>UserName</th>
        <th>CompanyName</th>
        <th>FoundedYear</th>
        <th>Description</th>
        <th>WebsiteUrl</th>
        
        </tr>

        <tr *ngFor="let owner of owners">
            <td>
                {{owner.UserName}}
            </td>
            <td>
               {{owner.Owner.CompanyName}}
            </td>
            <td>
                {{owner.Owner.FoundedYear}}
            </td>
            <td>
                {{owner.Owner.Description}}
            </td>
            <td>
                {{owner.Owner.WebsiteUrl}}
            </td>
            <td>
            <button class='btn-primary' (click)="approve(owner.Id)">Accept</button>
            <button class='btn-primary' (click)="decline(owner.Id)">Decline</button>
            </td>
        </tr>
    </table>
   </div> 
</body>
</html>
