<!---------------------------------------showForm()[form popup to add a product]------------------------------------------------------------------------------------------------------------------------>
<div class="form-group">
    <div class="form-horizontal">
        <form #addProduct="ngForm" class="form-horizontal">
           
            <label for="ProductName">ProductName:</label><input id="ProductName" class="form-control" type="text" #ProductName="ngForm" ngControl="ProductName" [(ngModel)]="product.ProductName" required maxlength="25" /><div [hidden]="ProductName.valid || ProductName.pristine" class="alert alert-danger">Name is required</div>
            <label for="Description">Description:</label><textarea id="Description" class="form-control" type="text" #Description="ngForm" ngControl="Description" [(ngModel)]="product.Description" required maxlength="125"></textarea><div [hidden]="Description.valid || Description.pristine" class="alert alert-danger">description is required</div>
            <b>Type:</b>
            <select class="form-control" #Type="ngForm" ngControl="Type" [(ngModel)]="product.Type" required>
                
                <option value="Mobile">Mobile</option>
                <option value="IOT" ng-selected="true">IOT</option>
                <option value="Web">Web</option>
            </select>
            <label for="HomepageURL">HomepageURL:</label><input class="form-control" type="text" #HomepageURL="ngForm" ngControl="HomepageURL" [(ngModel)]="product.HomepageURL" required pattern="^(https?:\/\/)?([\da-z\.-]+)\.([a-z\.]{2,6})([\/\w \.-]*)*\/$" /><div [hidden]="HomepageURL.valid || HomepageURL.pristine" class="alert alert-danger">enter proper Url format</div>
            <label for="PlaystoreURL">PlaystoreURL:</label><input class="form-control" type="text" #PlaystoreURL="ngForm" ngControl="PlaystoreURL" [(ngModel)]="product.PlaystoreURL" required pattern="^(https?:\/\/)?([\da-z\.-]+)\.([a-z\.]{2,6})([\/\w \.-]*)*\/$" /><div [hidden]="PlaystoreURL.valid || PlaystoreURL.pristine" class="alert alert-danger">enter proper Url format</div>
            <label for="AppstoreURL">AppstoreURL:</label><input class="form-control" type="text" #AppstoreURL="ngForm" ngControl="AppstoreURL" [(ngModel)]="product.AppstoreURL" required pattern="^(https?:\/\/)?([\da-z\.-]+)\.([a-z\.]{2,6})([\/\w \.-]*)*\/$" /><div [hidden]="AppstoreURL.valid || AppstoreURL.pristine" class="alert alert-danger">enter proper Url format</div><br />
            

            <button class='btn-primary' (click)="onSubmit(product)">Add</button>
        </form>
    </div>
</div>

