<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
    <!--<style>
        table, th, td {
            border: 1px solid grey;
            border-collapse: collapse;
            padding: 5px;
        }

            table tr:nth-child(odd) {
                background-color: #f1f1f1;
            }

            table tr:nth-child(even) {
                background-color: #ffffff;
            }
    </style>--> 
</head>
<body>
    
    <table  border="1" border-collapse="collapse" padding="5px">
        <tr>

        <th>UserName</th>
        <th>CompanyName</th>
        <th>FoundedYear</th>
        <th>Description</th>
        <th>WebsiteUrl</th>
        
        </tr>

        <tr *ngFor="let owner1 of owners">
            <td>
                {{owner1.UserName}}
            </td>
            <td>
               {{owner1.Owner.CompanyName}}
            </td>
            <td>
                {{owner1.Owner.FoundedYear}}
            </td>
            <td>
                {{owner1.Owner.Description}}
            </td>
            <td>
                {{owner1.Owner.WebsiteUrl}}
            </td>
            <button class='btn-primary'>Accept</button>
            <button class='btn-primary'>Decline</button>
        </tr>
    </table>
    
</body>
</html>
