<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
</head>
<body>
    
    <table>
        <tr>
        <th>CompanyName</th>
        <th>FoundedYear</th>
        <th>Description</th>
        <th>WebsiteUrl</th>
        </tr>

        <tr>
            <th>
             {{owner.CompanyName}}
            </th>
            <th>
                {{owner.FoundedYear}}
            </th>
            <th>
                {{owner.Desciption}}
            </th>
            <th>
                {{owner.WebsiteUrl}}
            </th>
        </tr>
    </table>
</body>
</html>
