<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
</head>
<body>
    <button type="button" class="btn btn-primary btn-lg" data-dismiss="modal" [routerLink]="['Login/ProductOwner/addproduct']">AddProduct</button>
    <button type="button" class="btn btn-primary btn-lg" data-dismiss="modal" [routerLink]="['Login/ProductOwner/addedproduct']">AddedProducts</button>
    <button type="button" class="btn btn-primary btn-lg" data-dismiss="modal" [routerLink]="['Login/ProductOwner']">Products </button>
    
    <br /><br />
    <router-outlet></router-outlet>
</body>
</html>
