<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
</head>
<body>
    <button type="button" class="btn btn-primary btn-lg" data-dismiss="modal" (click)='showForm()'>AddProduct</button>
    <button type="button" class="btn btn-primary btn-lg" data-dismiss="modal" (click)='getProducts()'>AddedProducts</button>
    <button type="button" class="btn btn-primary btn-lg" data-dismiss="modal" (click)='getAllProducts()'>Products </button>
    <!--<button type="button" class="btn btn-primary btn-lg" data-dismiss="modal" (click)='followedProducts()'>FollowedProducts </button><br /><br />-->



    <div class="form-group">
        <div class="form-horizontal">
            <form *ngIf="addProduct" #addProduct="ngForm" class="form-horizontal">
                <!--<b>ProductId:</b><input class="form-control" type="text" #Id="ngForm" ngControl="Id" [(ngModel)]="product.Id" required />-->
                <label for="ProductName">ProductName:</label><input id="ProductName" class="form-control" type="text" #ProductName="ngForm" ngControl="ProductName" [(ngModel)]="product.ProductName" required maxlength="25"/><div [hidden]="ProductName.valid || ProductName.pristine" class="alert alert-danger">Name is required</div>
                <label for="Description">Description:</label><textarea id="Description" class="form-control" type="text" #Description="ngForm" ngControl="Description" [(ngModel)]="product.Description" required maxlength="125"></textarea><div [hidden]="Description.valid || Description.pristine" class="alert alert-danger">description is required</div>
                <b>Type:</b>
                <select class="form-control" #Type="ngForm" ngControl="Type" [(ngModel)]="product.Type" required>
                   
                    <!--<option *ngFor="let product of products" [value]="product">{{platforms[product.Type]}}</option>-->
                    <option value="Mobile">Mobile</option>
                    <option value="IOT" ng-selected="true">IOT</option>
                    <option value="Web">Web</option>
                </select>
                
                <label for="HomepageURL">HomepageURL:</label><input class="form-control" type="text" #HomepageURL="ngForm" ngControl="HomepageURL" [(ngModel)]="product.HomepageURL" required pattern="https?://.+"/><div [hidden]="HomepageURL.valid || HomepageURL.pristine" class="alert alert-danger">URL must start with http://</div>
                <label for="PlaystoreURL">PlaystoreURL:</label><input class="form-control" type="text" #PlaystoreURL="ngForm" ngControl="PlaystoreURL" [(ngModel)]="product.PlaystoreURL" required pattern="https?://.+"/><div [hidden]="PlaystoreURL.valid || PlaystoreURL.pristine" class="alert alert-danger">URL must start with http://</div>
                <label for="AppstoreURL">AppstoreURL:</label><input class="form-control" type="text" #AppstoreURL="ngForm" ngControl="AppstoreURL" [(ngModel)]="product.AppstoreURL" required pattern="https?://.+"/><div [hidden]="AppstoreURL.valid || AppstoreURL.pristine" class="alert alert-danger">URL must start with http://</div><br />
                <!--<b>CreatedDate:</b><input class="form-control"type="date" #CreatedDate="ngForm" ngControl="CreatedDate" [(ngModel)]="product.CreatedDate" required /><br />
                <b>LastModifiedDate:</b><input class="form-control" type="date" #LastModifiedDate="ngForm" ngControl="LastModifiedDate" [(ngModel)]="product.LastModifiedDate" required /><br /><br />-->

                <button class='btn-primary' (click)="onSubmit(product)">Add</button>
            </form>
        </div>
    </div>


    <div class='table-responsive' *ngIf="addedProduct">
        <table class='table'>
            <tr>
                <th>ProductId</th>
                <th>ProductName</th>
                <th>Description</th>
                <th>Type</th>
                <th>HomepageURL</th>
                <th>PlaystoreURL</th>
                <th>AppstoreURL</th>
                <!--<th>CreatedDate</th>
                <th>LastModifiedDate</th>-->
            </tr>

            <tr *ngFor="let product of products">
                <td>
                    {{product.Id}}
                </td>
                <td>
                    {{product.ProductName}}
                </td>
                <td>
                    {{product.Description}}
                </td>
                <td>
                    {{platforms[product.Type]}}
                </td>
                <td>
                    {{product.HomepageURL}}
                </td>
                <td>
                    {{product.PlaystoreURL}}
                </td>
                <td>
                    {{product.AppstoreURL}}
                </td>
                <!--<td>
                    {{product.CreatedDate}}
                </td>
                <td>
                    {{product.LastModifiedDate}}
                </td>-->
                <td>
                    <button class='btn-primary' (click)="onEdit(product)">Edit</button>
                    <button class='btn-primary' (click)="onDelete(product.Id)">Delete</button>
                    <button class='btn-primary' (click)="onUpdate(product.Id)">Update</button>
                </td>
            </tr>
        </table>
    </div>






    <div>

        <form *ngIf="editProduct" #addProduct="ngForm" class="form-horizontal">

            <!--<b>ProductId:</b>
            <select class="form-control" #Id="ngForm" ngControl="Id" [(ngModel)]="product.Id" required>
                <option *ngFor="let product of products">{{product.Id}}</option>
            </select>-->
            <label>ProductName:</label><input class="form-control" type="text" #ProductName="ngForm" ngControl="ProductName" [(ngModel)]="product.ProductName" required />
            <label>Description:</label><input class="form-control" type="text" #Description="ngForm" ngControl="Description" [(ngModel)]="product.Description" required />
            <label>Type:</label>
            <select class="form-control" #Type="ngForm" ngControl="Type" [(ngModel)]="product.Type" required>
                <option value="Mobile">Mobile</option>
                <option value="IOT" ng-selected="true">IOT</option>
                <option value="Web">Web</option>
            </select>
            <!--<input class="form-control" type="text" #Type="ngForm" ngControl="Type" [(ngModel)]="product.Type" required /><br />-->
            <label for="HomepageURL">HomepageURL:</label><input id="HomepageURL" class="form-control" type="text" #HomepageURL="ngForm" ngControl="HomepageURL" [(ngModel)]="product.HomepageURL" required pattern="https?://.+"/><div [hidden]="HomepageURL.valid || HomepageURL.pristine" class="alert alert-danger">URL must start with http://</div>
            <label for="PlaystoreURL">PlaystoreURL:</label><input id="PlaystoreURL"class="form-control" type="text" #PlaystoreURL="ngForm" ngControl="PlaystoreURL" [(ngModel)]="product.PlaystoreURL" required pattern="https?://.+"/><div [hidden]="PlaystoreURL.valid || PlaystoreURL.pristine" class="alert alert-danger">URL must start with http://</div>
            <label for="AppstoreURL">AppstoreURL:</label><input id="AppstoreURL" class="form-control" type="text" #AppstoreURL="ngForm" ngControl="AppstoreURL" [(ngModel)]="product.AppstoreURL" required pattern="https?://.+"/><div [hidden]="AppstoreURL.valid || AppstoreURL.pristine" class="alert alert-danger">URL must start with http://</div><br />
            <button class='btn-primary' (click)="editForm(product)">Edit</button>
        </form>



    </div>





    <div class='table-responsive' *ngIf="allProduct">
        <table class='table'>
            <tr>
                <th>ProductId</th>
                <th>ProductName</th>
                <th>Description</th>
                <th>Type</th>
                <th>HomepageURL</th>
                <th>PlaystoreURL</th>
                <th>AppstoreURL</th>
                <!--<th>CreatedDate</th>
                <th>LastModifiedDate</th>-->
            </tr>

            <tr *ngFor="let product of allProducts">
                <td>
                    {{product.Id}}
                </td>
                <td>
                    {{product.ProductName}}
                </td>
                <td>
                    {{product.Description}}
                </td>
                <td>
                    {{platforms[product.Type]}}
                </td>
                <td>
                    {{product.HomepageURL}}
                </td>
                <td>
                    {{product.PlaystoreURL}}
                </td>
                <td>
                    {{product.AppstoreURL}}
                </td>
                <!--<td>
                    {{product.CreatedDate}}
                </td>
                <td>
                    {{product.LastModifiedDate}}
                </td>-->
                <td>
                    <button class='btn-primary' (click)="viewUpdates(product.Id)">View</button>
                    <button class='btn-primary' [hidden]="following[product.Id]" (click)="followProducts(product.Id)">follow</button>
                    <button class='btn-primary' [hidden]="!following[product.Id]" (click)="unfollowProducts(product.Id)">unfollow</button>

                </td>
            </tr>
        </table>
    </div>


















    <!--<div>

        <form *ngIf="updateProduct" #productUpdate="ngForm" class="form-horizontal">

           
            <label>Detail:</label><input class="form-control" type="text" #Detail="ngForm" ngControl="Detail" [(ngModel)]="productUpdate.Detail" required/>
            <label>Media:</label><input class="form-control" type="text" #Media="ngForm" ngControl="Media" [(ngModel)]="productUpdate.Media" required />
            <label>Introduction:</label><input class="form-control" type="text" #Introduction="ngForm" ngControl="Introduction" [(ngModel)]="productUpdate.Introduction" required/><br/>
            <button class='btn-primary' (click)="updateForm(productUpdate)">Update</button>
        </form>



    </div>-->


    
    <div class="form-group">
        <div class="form-horizontal">
            <form *ngIf="updateProduct" #addUpdate="ngForm" class="form-horizontal">
                <label>Detail:</label><input class="form-control" #Detail="ngForm" type="text" ngControl="Detail" [(ngModel)]="productUpdate.Detail" required />    
                <label>Media:</label><input  class="form-control" type="text" #Media="ngForm" ngControl="Media" [(ngModel)]="productUpdate.Media" required />
                <label>Introduction:</label><input class="form-control" type="text" #Introduction="ngForm" ngControl="Introduction" [(ngModel)]="productUpdate.Introduction" required />             
                <button class='btn-primary' (click)="updateForm(productUpdate)">Update</button>
            </form>
        </div>
    </div>







    <div class='table-responsive' *ngIf="view">
        <br/><br/>
        <h1>Updates</h1><br/>
        <div *ngFor="let productUpdate of productUpdates">
            <b>Detail:</b><a>{{productUpdate.Detail}}</a><br/>
            <b>Media:</b><a>{{productUpdate.Media}}</a><br/>
            <b>Introduction:</b><a>{{productUpdate.Introduction}}</a><br/><br/>
        </div>
    </div>




   

</body>
</html>
